.cardProducto {
  background-color: #fadba3;
  border: 1px solid #e3e1e1;
  border-radius: 8px;
  width: 15rem;
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgProducto {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.cardProducto h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cardProducto p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.button {
    margin-bottom: 5px;
}

.card {
  cursor: pointer;
  width: 240px;
  height: 254px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 255, .2);
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
 }
 
 .card:hover {
  box-shadow: -12px 12px 2px -1px rgba(0, 0, 255, .2);
 }
 